/* app css stylesheet */

body {
  padding-top: 20px;
}


.st-sort-ascent:before{
  content: '\25B2';
}

.st-sort-descent:before{
  content: '\25BC';
}


table tr.show-in-print {
  display: none;
}

@media print {
  table .hide-in-print {
    display: none;
  }

  table tr.show-in-print {
    display: table-row;
  }
}